@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-home:hover {
  background-image: url("/icon-nav-home-hover.svg");
}

.icon-home {
  object-fit: fill;
  background-repeat: no-repeat;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.cl-internal-1j7ahlv {
  @apply h-6 w-6 border border-white sm:h-8 sm:w-8;
}
